.container-action-not-item {
    .img-curio {
        height: 150px;
        object-fit: contain;
        width: 100%;
    }

    .text-name {
        font-size: 1.4em;
        font-weight: 600;
        text-align: center;
    }

    .text-spawn {
        font-size: 0.9em;
        text-align: center
    }
}