ul {all:unset;}

.container-action-item {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 1em;
    
    li {
        all: unset;
        display: flex;
        width: 120px;
        flex-direction: column;
        text-align: center;
        gap: 0.3em;

        .img-supplies {
            margin: 0 auto;
            height: 100px;
            object-fit: contain;        
        }

        div {
            display: flex;
            flex-direction: row;
            gap: 0.4em;

            img {
                object-fit: contain;
            }

            p {
                margin: auto 0;
            }
        }
    }
}